:root{
--white: #ebe9e9e2;
--grey: #4c5350;
--gold: #79872b;

}
*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--grey);

}
body{
background-color: var(--white);
}

main{
    width: 100%;
}

header{
    border: #79872b solid;
    display: relative;
}

header nav{
    display: flex;
    flex: end  ;
}

#Work{
    display: flex;
    flex-wrap: wrap;
}

#Large{
    width: 100%;
    border: var(--gold) solid 1px;
 
}

#Cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: var(--gold) solid 1px;
    padding: 10px;
    width: 45%;
}

#Cards::after{
}

footer{

}