:root {
    --white: #ebe9e9e2;
    --grey: #4c5350;
    --gold: #79872b;
    --box: #9f9f9f6b;

}

* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--grey);
}

body {
    background-color: var(--white);
}

main {
    display: inline-block;

}

/* header only */
header {
    border: #79872b solid;
    display: relative;
    background-color: var(--box);
}
header h1{
    text-align: center;
}

header p{
    text-align: start;
    margin-left: 25px;
}

header nav {
    display: flex;
    float: inline-start;
    width: 75%;
}

header nav ul{
    display: flex;
    list-style-type: none;
    width: 100%;
 
}
header nav ul li{
    display: flex;
   justify-content: flex-end;
   padding: 0px 25px 0px 25px;
   width: 100%;
}

header img{
    width: 150px;
    float: right;
    margin-right: 25px;

}
/* About Me box */
#About{
    height: 100px;
}
#About h2{
    float: left;
    height: 100px;
    border-right: solid 10px var(--box);
    margin: 0px 50px 0px 50px;
    padding-right: 10px;
}

#About p{
    margin: 20px 0px 0px 0px;
    width: 80%
}


main h2{
    border-right: 10px var(--box) solid;
    float: left;
    height: 519px;
    margin: 0px 50px 0px 50px;
    padding-right: 57px;
}

/* Large card only! */
#Large {
    border: var(--gold) solid 1px;
    display: flex;
    width: 50%;
    align-items: center;
    float: right;
    height: 200px;
    flex-direction: column;
    margin: 0px 200px 40px 0px;
    

}

#Large a {
    width: 100%;
    height: 100%;
}

#Large a img{
    min-width: 100%;
    max-height: 200px; 
    border-radius: 5%;
}

#Large h4{
    background-color: var(--gold);
    max-width: fit-content;
    height: 25px;
    
}
/* Smaller four cards */
#Work {
   width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr;
    gap: 35px  ;
    float: right;
}


#Cards {
    display: flex;
    flex-wrap: wrap;
    border: var(--grey) solid 1px;
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
    margin: 10px 25px 10px 250px;
    height: 100px;

}

#Cards a{
    width: 100%;
    height: 100%;
}

#Cards a img{
width: 100%;
height: 100%;
border-radius: 5%;

}

#Cards h4{
    background-color: var(--gold);
    margin: 0px;
}

/* Creates hover effect */
#Large:hover{
    box-shadow: inset 0px 0px 8px var(--gold) , 0 0 15px var(--gold);
}

#Cards:hover {
    box-shadow: inset 0px 0px 8px var(--gold) , 0 0 15px var(--gold);
}

/* Footer section */
footer {
    border: var(--gold) solid 1px;
    background-color:var(--box);
}

footer ul{
    font-size: larger;
    display: flex;
    list-style-type: none;
}

footer ul li{
display: flex;
flex-direction: row;
width: 75%;
text-decoration: underline;
}

/* Media Queries */


/*Large Devices*/

@media screen and (max-width: 992px) {

}

/*Medium Devices*/
@media screen and (max-width: 768px) {
    header{
        align-items: center;
        margin-bottom: 25px;
    }
    main h2{
       border: 0px;
       height: fit-content;
       margin-bottom: 25px;
       width: 100%;
       text-align: center;
       margin: 0px;

    }
    #About{
        display: inline-block;
        padding-bottom: 25px;
    }
    #About h2{
        float: none;
        border: none;
        height: auto;
        text-align: center;
    }
    #About p{
        margin: 10px 0px 25px 0px;
    }
    #About img{
        float: none;
        align-self: center;
    }
    #Large{
        float: none;
        width: 100%;
        height: 300px;
    }

    #Large a img{
        max-height: 300px;

    }

    #Large h4{
        margin: 0px 0px 25px 0px;
    }

    #Work{
        display: block;
    }

    #Cards{
        display: inline-block;
        height: 250px;
        margin: 10px 25px 10px 0px;
    }

    #Cards h4{
        margin: 0px 15px 15px 15px;
    }

    footer{
        margin-top: 25px;
    }
    footer ul li{
        padding: 15px;
    }
    footer h2{
        text-align: center  ;
    }

}

/*Small Devices*/

@media screen and (max-width: 600px) {
#Large{
    margin: 0px 0px 0px 10px;
}

}

/*Extra small devices*/

@media screen and (max-width: 500px) {

    header{
        display: block;
    }

    #About{
        text-align: center;
    }

}